<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
	</appSettings>

	<connectionStrings>
		<!-- Connection string para a base de dados -->
		<add name="MyDBConnection"
			 connectionString="Data Source=PCANDRE\VE_SERVER;Initial Catalog=STOCKV1;User Id=bd;Password=bd;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.8"/>
	</system.web>

	<system.serviceModel>
		<services>
			<service name="WCFSTOCK.Service">
				<!-- Endpoint principal para SOAP -->
				<endpoint
					address=""
					binding="basicHttpBinding"
					contract="WCFSTOCK.IService" />

				<!-- Endpoint para expor a WSDL (Metadata Exchange) -->
				<endpoint
					address="mex"
					binding="mexHttpBinding"
					contract="IMetadataExchange" />

				<!-- Endereço base do serviço -->
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/Service"/>
					</baseAddresses>
				</host>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Permitir que a WSDL seja acessível -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>

					<!-- Mostrar detalhes de exceções durante o desenvolvimento -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<!-- Mapear protocolos -->
		<protocolMapping>
			<add binding="basicHttpBinding" scheme="http"/>
		</protocolMapping>

		<!-- Configurações de hospedagem -->
		<serviceHostingEnvironment
			aspNetCompatibilityEnabled="true"
			multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>
